<section class="tcs-guide-jumbo  ">
    <div class="tcs-guide-jumbo__main tcs-pt tcs-px-2 tcs-pt-4 tcs-px-lg-4">
        <div class="tcs-container-md mw-lg-100 px-lg-0 ">
            <div class="tcs-guide-jumbo__sidebyside tcs-px-md-2 px-lg-0 ">
                <div class="tcs-pr-lg-4 d-lg-flex flex-column justify-content-between ">
                     <div class="d-flex justify-content-between align-items-center">
                        <h3 class="tcs-guide-jumbo__eyeline">
                        comforter guide
                        </h3>
                        <button class="tcs-guide-jumbo__btt btn btn-link">
                            Back to top
                        </button>
                    </div>

                    <div class="tcs-mb tcs-mb-lg-4">
                        <div class="tcs-guide-jumbo__subtitle-container d-flex align-items-baseline">
                            <img class="tcs-guide-jumbo__icon img-fluid" src="/images/icon.png" alt="" srcset=""> 
                            <h4 class="tcs-guide-jumbo__subtitle">
                                {{subtitle}}
                            </h4>
                        </div>

                        <h2 class="tcs-guide-jumbo__title tcs-h2 ">
                            {{title}} 
                        </h2>
                    </div>
                </div>
                <div class="tcs-pl-lg-4">
                    <img class="tcs-guide-jumbo__img img-fluid" src="{{mainImage}}" alt="" >
                </div>
            </div>
           
        </div>
    </div>
    <div class="tcs-guide-jumbo__body tcs-px tcs-py">
        <div class="tcs-container-md">
            {{{richText}}}
        </div>
        {{!-- <p class="tcs-guide-jumbo__text"> --}}
        {{!-- <p >
            Did you know that comforters and duvet inserts are essentially the same thing? Both are typically filled with down, feathers, or synthetic fibers, will keep you warm, and can be used with our duvet covers which include an array of fun solid colors, fashionable prints, and premium fabrics. Duvet covers can also be interchanged frequently, are easily washed, and protect your investment so it’s a win-win.  
            All our comforters (and duvet inserts) have handy loops on all four corners that attach to our duvet cover ties to easily secure both in place.
        </p> --}}
        {{!-- <img class="tcs-guide-jumbo__img-secondary img-fluid" src="https://res.cloudinary.com/dg1knuetg/image/upload/ar_335:188,c_fill/v1598448868/juice_h7ic1b.png" alt="" srcset=""> --}}
         {{!-- <img src="https://res.cloudinary.com/dg1knuetg/image/upload/ar_335:188,c_fill/v1598448868/juice_h7ic1b.png" alt="" > --}}
       
    </div>

</section>