<section class="tcs-guide-jumbo ">
    <div class="tcs-guide-jumbo__main tcs-pt">
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="tcs-guide-jumbo__eyeline">
            comforter guide
            </h3>
            <button class="tcs-guide-jumbo__btt btn btn-link">
                Back to top
            </button>
        </div>

        <div class="tcs-guide-jumbo__subtitle-container d-flex align-items-baseline">
            <img class="tcs-guide-jumbo__icon img-fluid" src="/images/icon.png" alt="" srcset=""> 
            <h4 class="tcs-guide-jumbo__subtitle">
                The Basics
            </h4>
        </div>

        <h2 class="tcs-guide-jumbo__title tcs-h2 tcs-mb">
           What’s the difference between a Comforter and a Duvet Insert? 
        </h2>

        <div>
            <img class="tcs-guide-jumbo__img img-fluid" src="https://res.cloudinary.com/dg1knuetg/image/upload/w_1200,ar_1:1,c_fill,g_auto/v1598412568/duvet_w1xhq3.png" alt="" >
        </div>
    </div>


</section>