.tcs-guide-jumbo{
    &__main{
       background-color: $light-blue-50; 
    }

    &__eyeline{
        color: $blue-2;
        text-transform: uppercase;
        font-size: 16px;
        margin-bottom: 0;
        letter-spacing: 1.5px;
        font-weight: 500;
    }

    &__btt{
        font-family: $lora-italic;
        font-size: 14px;
        color: $blue;
        text-decoration: underline;
        font-style: italic;
        width: auto;
    }

    &__icon{
        width: 40px;
    }

    &__subtitle-container{
        margin-top: 50px;
    }

    &__subtitle{
        color: $blue;
        font-size: 18px;
        font-family: $lora-reg;
    }

    &__title{
        color: $blue;
        margin-bottom: 0;

    }

    &__img{
        margin-bottom: -40px;
    }

    &__text{
        @extend .py-1; 
        font-size: 14px;
        font-family: $lora-reg;
        @extend .mb-0;
    }

    &__body{
        font-size: 14px;
        font-family: $lora-reg;
        line-height: 1.57;
        p{
            @extend .py-1; 
            @extend .mb-0;
        }

        h5{
            color: $blue-2;
            margin-bottom: 12px;
        }

        ul{
            padding-left: 20px;
            line-height: 2;
        }

        img{
            @extend .img-fluid;
            @extend .mb-1;
        }
    }

}

@include media-breakpoint-up(lg) {
    .tcs-guide-jumbo{
        &__sidebyside{
            display: flex;
            > div{
                flex: 0 0 50%;
                max-width: 50%;
            }
        }

        &__text{
            width: 18ch;
        }
        &__title{
            width: 20ch;
            font-size: 37px;
        }
        &__img{
            margin-bottom: -80px;
        }

        &__body{
            p:first-of-type{
               @extend .pt-lg-0;
               width: 50%;
            }

            // p, ul{
            //     + img{
            //         @extend .mt-lg-3;
            //     }
            // }

            ul,h5{
                // width: 60%;
                // margin-left: auto;
                // margin-right: auto;
            }

            img{
                @extend .mt-lg-3;
                &:last-of-type{
                    @extend .mb-lg-0;
                }
            }
            
        }
    }
}