

.tcs-fav-color {
    .btn-primary {
        max-width: 100% !important;
        min-width: 345px;
        width: auto !important;
        line-height: initial !important;
        padding: 5px !important;
    }
}