<section class="tcs-fav-color">
    <div class="mx-1 mb-3 mx-lg-4">
        <picture class=" embed-responsive tcs-embed-responsive-335by188">
            <img class="tcs-embed-fill img-fit" src="https://res.cloudinary.com/dg1knuetg/image/upload/ar_335:188,c_fill,w_1500/v1598965632/com2_ctcgu7.png" alt="">
        </picture>
    </div>

    <div class="px-1 tcs-container-md">
        <h3 class="fs-14 text-primary-dark">
            Comforters in Your Favorite Colors and Prints
        </h3>

        <p class="tcs-copy-medium mb-3">
            In addition to white, many of our premium comforters are available in additional colors, along with down alternative options in fashionable prints. For instance, our best-selling LaCrosse® comforter is available in a rainbow of choices and our White Bay® and Alberta™ comforters come in a palette of muted hues to match any decor. 
        </p>

        <img class="img-fluid mb-3" src="https://res.cloudinary.com/dg1knuetg/image/upload/ar_1:1,c_fill,w_1440/v1598966479/fav-2.png" alt="">

        <h3 class="fs-14 text-primary-dark">
            Add Color with a Duvet Cover
        </h3>

        <p class="tcs-copy-medium mb-3">
            Of course, the beauty of a Company Store comforter is you can easily change up the look by using one of our high-quality duvet covers.  Some of the most popular reasons to choose to use a duvet cover are seasonality, decor, and ease of washing.       
        </p>

        <ul class="pl-1 mb-2">
            <li class="fc-blue"><spam class="fc-body"> Seasonality: some people prefer the warmth of a cozy flannel duvet cover in the winter, but switch to a cool, crisp percale cover in the summer</spam></li>
            <li class="fc-blue"><spam class="fc-body"> Decor:  Let’s face it, whatever covers the bed takes up a lot of real estate in your bedroom. Solid-color or pattern duvet covers are an easy way to refresh a room without buying a new comforter</spam></li>
            <li class="fc-blue"><spam class="fc-body"> Ease of Washing:  It’s easier and faster to wash a duvet cover rather than an entire comforter, plus the duvet cover protects your comforter from normal wear and tear.</spam></li>
        </ul>

        <button class="btn btn-block btn-md-w mb-3 btn-primary mbutton-10 fs-12 text-uppercase">
            Shop Our Duvet Covers
        </button>
    </div>

</section>