<section class="tcs-guide px-1 py-2 px-md-0">
    <div class="tcs-container-md " id="our-guide">
         <h2 class="tcs-guide__title tcs-h2 mb-0"> What’s Inside Our Guide </h2>
        {{#each modules}}
            <div class="tcs-guide__module pt-1">
            <h3 class="tcs-guide__subtitle text-center">
                {{title}}
            </h3>
            <div class="tcs-guide__cards-container">
                <div class="row justify-content-center">
                    {{#each cards}}
                        <div class="col-6 col-md-3">
                            <a href="{{href}}" class="tcs-guide__card d-block w-100 ">
                                <img class="tcs-guide__card-icon img-fluid mx-auto " src="https://res.cloudinary.com/dg1knuetg/image/upload/v1598649634/icon_vto6g3.png" alt="" srcset="">
                                <p class="tcs-guide__card-text text-center">
                                    {{title}}
                                </p>
                            </a>     
                        </div>
                       
                    {{/each}}   
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>

