

.tcs-guide{
    background-color: $light-blue;

    &__title{
        color: $blue;
    }

    &__subtitle{
        // TODO 
        font-family: $lora-italic;
        font-size: 18px;
        font-style: italic;
    }

    &__card{
        background-color: $light-blue-50 ;
        margin-top: 10px;
        margin-bottom: 10px;
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &__card-icon{
        width: 24px;
        display: block;
    }

    &__card-text{
        font-family: $lora-reg;
        color: $blue;
        margin-bottom: 0;
    }
}

.seb{
    >div{
       
    }
}