

.tcs-guide{
    background-color: $light-blue;

    &__title{
        color: $blue;
    }

    &__subtitle{
        // TODO 
        font-family: $lora-italic;
        font-size: 18px;
        font-style: italic;
    }

    &__cards-container{
        .row{
            margin-right: -10px;
            margin-left: -10px;

            > div{
                padding-right: 10px;
                padding-left: 10px;
            }
        }
    }
    
    &__card{
        background-color: $light-blue-50 ;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &__card-icon{
        width: 24px;
        display: block;
    }

    &__card-text{
        font-family: $lora-reg;
        color: $blue;
        margin-bottom: 0;
    }
}


@include media-breakpoint-up(md) {
    .tcs-guide{
        &__title{
            text-align: center;
        }
    }
}

@include media-breakpoint-up(lg) {
    .tcs-guide{
        &__card{
            flex: 0 0 calc(25% - 10px);
            max-width: calc(25% - 10px);
        }
    }
}

@include media-breakpoint-up(md) {
    .tcs-guide{
        &__title{
            text-align: center;
        }
    }
}