.tcs-cards-features {
  &__logo__feather {
    width: 177px;
    top: 0;
    left: 9ch;
    opacity: 0.15;
  }
}

@include media-breakpoint-up(lg) {
  .tcs-cards-features {
    background-color: $light-blue-50;

    &__logo__feather {
      top: -20px !important;
      left: 50% !important;
      transform: translateX(-50%) !important;
    }
    &__details {
      padding: 0 15px !important;
    }
    &__card-title {
      font-size: 50px !important;
    }
    &__line {
      margin-top: 10px !important;
    }
  }
}
