
<section class="tcs-carousel tcs-carousel--best-seller swiper-container py-4 bg-primary-light">
    
    <h2 class="tcs-carousel__title fs-27 text-primary text-center mb-2">
        Shop Our Best Sellers
    </h2>
    <div class="swiper-wrapper ">
        {{#each slides}}
         <div class="swiper-slide ">
            <img src="{{img}}" alt="" srcset="">
            <h3 class=" tcs-carousel__slide-title fs-14 ff-lr text-primary">
                300-Thread Count Organic Cotton Percale Duvet Cover / Sham
            </h3>
            <span class="tcs-carousel__slide-price fs-12 ff-pm fc-gray">
                $44.00 - $209.00
            </span>
            <span class="tcs-carousel__slide-saleprice fs-12 ff-pm fc-gray">
                SALE: $37.00 - $178.00
            </span>

            <button class="tcs-carousel__button btn btn-primary btn-block">SHOP NOW</button>
        </div>
        {{/each}}
        
    </div>
    <div class="swiper-pagination"></div>
</section>
