{{!-- <section class="tcs-carousel pt-3 pb-1">
<h2 class="fs-27 text-primary">
    Shop Our Best Sellers
</h2>

<div class="tcs-carousel-slide">
    <img src="https://res.cloudinary.com/dg1knuetg/image/upload/ar_1:1,c_fill/v1598883146/car-1.png" alt="" srcset="">
</div>
<div class="tcs-carousel-slide">
    <img src="https://res.cloudinary.com/dg1knuetg/image/upload/ar_1:1,c_fill/v1598883155/car-2.png" alt="" srcset="">
</div>
<div class="tcs-carousel-slide">
    <img src="https://res.cloudinary.com/dg1knuetg/image/upload/ar_1:1,c_fill/v1598883165/car-3.png" alt="" srcset="">
</div>
</section> --}}

<div class="swiper-container py-4">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><img src="https://res.cloudinary.com/dg1knuetg/image/upload/ar_1:1,c_fill/v1598883146/car-1.png" alt="" srcset=""></div>
        <div class="swiper-slide"><img src="https://res.cloudinary.com/dg1knuetg/image/upload/ar_1:1,c_fill/v1598883155/car-2.png" alt="" srcset=""></div>
        <div class="swiper-slide"><img src="https://res.cloudinary.com/dg1knuetg/image/upload/ar_1:1,c_fill/v1598883165/car-3.png" alt="" srcset=""></div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
{{!-- 
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div> --}}
</div>
