.tcs-carousel{

    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 80px;

    &--best-seller{
        @extend .bg-primary-light;

        .tcs-carousel__title{
            @extend .text-center;
        }

    }

    .swiper-wrapper{
        height: auto;
    }

    $yellow:#e7dc97;

    &--warmth{
        padding-left: 40px;
        padding-right: 40px;
        // transform: rotate(180deg);
        mix-blend-mode: multiply;
        background-image: linear-gradient(to left,rgba(255, 255, 255, 0), $yellow );
        position: relative;

        .tcs-carousel__title{
            width: 11ch;
            position: relative;
        }

        .tcs-carousel__bg-image{
            width: 200px;
            opacity: .6;
            position: absolute;
            left: 11ch;
            top: 30px
        }
        .swiper-pagination {
            padding-left: 40px;
            text-align: left;
            
        }

        .tcs-carousel__slide-icon{
            width: 30px;

        }
    }

   

    &.swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: 30px;
    }
    .swiper-pagination-bullet-active {
        background: $primary;
    }

    &__slide-title{
        margin-top: 10px;
        text-transform: none;
    }
    &__slide-price{
        margin-bottom: 10px;
        display: block;
        text-decoration: line-through;
    }
    &__slide-saleprice{
        display: block;
        margin-bottom: 10px;
    }

    &__button{
        &:hover{
            background-color: $white;
        }
    }
}

@include media-breakpoint-up(md) {
    .tcs-carousel{
        padding-left: 40px;
        padding-right: 40px;
    }
}
@include media-breakpoint-up(lg) {
    .tcs-carousel{
        padding-left: 60px;
        padding-right: 60px;
        margin-left: 80px;
        margin-right: 80px;
        
        &__desktop{
            flex: 0 0 25%;
            max-width: 25%;
        }

        .swiper-pagination{
            display: none;
        }
    }
    .tcs-carousel--warmth{
        background: rgb(231,220,151);
        background: linear-gradient(90deg, rgba(231,220,151,1) 0%, rgba(245,236,236,1) 50%, rgba(203,195,220,1) 100%);
    }
    .tcs-carousel--warmth-slider{
        flex: 0 0 75%;
        max-width: 75%;
    }

}
