<section class="tcs-size">
     <div class="mx-1 mb-3 mx-lg-4">
        <picture class=" embed-responsive tcs-embed-responsive-335by188">
            <img class="tcs-embed-fill img-fit" src="https://res.cloudinary.com/dg1knuetg/image/upload/ar_335:188,c_fill,w_1500/v1598968034/size-2_tvycgi.png"
             alt="">
        </picture>
    </div>

    <div class="px-1 tcs-container-md">
        

        <ul class="ml-0 mb-2">
            <li class="pl-1">
                Identify your bed mattress size and its dimensions. 
            </li>
            <li class="pl-1">
                Measure the mattress thickness. Add the inches of thickness to each side of the width of the comforter. For a Queen bed mattress that is 60 inches wide,80 inches long, and 12 inches thick, you would add 24 inches (12 on each side).  So, you will need a comforter that is at least 84 inches wide. In this instance, we would recommend the queen size for best coverage.
            </li>
            <li class="pl-1">
                Measure the height of your bed. If you have a pillow top or box spring, go for an oversized comforter or go up one size. 
            </li>
        </ul>

        <button class="btn btn-block btn-md-w mb-3 btn-primary fs-12 text-uppercase">
            Shop Our Duvet Covers
        </button>
    </div>
</section>