$table-row-color:#c4d0d980; //improvised
.tcs-size{

    .tcs-container-md {
        background-color: $light-blue-50 !important;
    }

    @include media-breakpoint-up(lg) {
        .deskSpace{
            margin-bottom: 20px;
        }
     }

    &__table{
        thead{
            &:after{
                content: ""; //the magic to display the border bottom

            }
        }
        tr, thead{
            border-bottom: 1.5px solid $table-row-color;
        }
       
        tr:last-of-type{
            border-bottom: none;
        }
        
        th{
            width: 50%;
            font-weight: 400;
            
        }

    }
}