<section class="tcs-size">
     <div class="mx-1 mb-3 mx-lg-4">
        <picture class=" embed-responsive tcs-embed-responsive-335by188">
            <img class="tcs-embed-fill img-fit" src="https://res.cloudinary.com/dg1knuetg/image/upload/ar_335:188,c_fill,w_1500/v1598968034/size-2_tvycgi.png"
             alt="">
        </picture>
    </div>

    <div class="px-1 tcs-container-md">
        
<h5 class="fc-blue">Here are some expert tips to help you select the best comforter size of your bed:</h5>
        <ul class="ml-0 mb-2 mb-lg-4">
            <li class="pl-1 fc-blue">
                <span class="fc-body">Identify your bed mattress size and its dimensions.  </span> 
            </li>
            <li class="pl-1 fc-blue">
                <span class="fc-body">Measure the mattress thickness. Add the inches of thickness to each side of the width of the comforter. For a Queen bed mattress that is 60 inches wide,80 inches long, and 12 inches thick, you would add 24 inches (12 on each side).  So, you will need a comforter that is at least 84 inches wide. In this instance, we would recommend the queen size for best coverage. </span> 
            </li>
            <li class="pl-1 fc-blue">
                <span class="fc-body">Measure the height of your bed. If you have a pillow top or box spring, go for an oversized comforter or go up one size.  </span> 
            </li>
        </ul>

    </div>

    <div class="mx-1 tcs-container-md  bg-primary-light py-2 mb-4">
        <h3 class="fs-18 fs-lg-24 text-primary-dark text-center mb-1">
            Our Comforter Sizes
        </h3>

        <div class="px-1">
            
            <table class="tcs-size__table table text-center">
                <thead class="class="fs-14 text-primary-dark "">
                    <tr>
                        <th scope="col">
                            Bed Size
                        </th>
                        <th scope="col">
                            Comforter Size
                        </th>
                    </tr>
                </thead>
                    
                <tbody class="tcs-copy-medium">
                    <tr>
                        <td>Twin</td><td>70 in. W x 90 in. L</td>
                    </tr>
                    <tr>
                        <td>Twin XL</td><td>70 in. W x 96 in. L</td>
                    </tr>
                    <tr>
                        <td>Full</td><td>84 in. W x 90 in. L</td>
                    </tr>
                    <tr>
                        <td>Queen</td><td>90 in. W x 96 in. L</td>
                    </tr>
                    <tr>
                        <td>King / Cal. King</td><td>108 in. W x 96 in. L</td>
                    </tr>
                    <tr>
                        <td>Oversized Queen*</td><td>98 in. W x 96 in. L</td>
                    </tr>
                    <tr>
                        <td>Oversized King*</td><td>116 in. W x 96 in. L</td>
                    </tr>
                </tbody>  
            </table>
        </div>
        
    </div>
</section>