<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ path '/css/main.css' }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview</title>
</head>
<body>
    <div class="d-small  d-md-none">
        <h6>small</h6>
    </div>
    <div class="d-375 d-md-none">
        <h6>375 zepplin</h6>
    </div>
    <div class="d-768 d-none d-md-block d-lg-none">
        <h6>min 768 M</h6>
    </div>
    <div class="d-992 d-none d-lg-block d-xl-none">
        <h6>min 992  L</h6>
    </div>
    <div class="d-1200 d-none d-xl-block">
        <h6> min 1200  XL</h6>
    </div>
    <div class="d-1440 d-none d-xl-block">
        <h6>1440</h6>
    </div>
    <div class="pb-3">

    </div>

{{{ yield }}}

<script src="{{ path '/js/main.js' }}"></script>
</body>
</html>