<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ path '/css/main.css' }}">
    <title>Preview</title>
</head>
<body>
    <div class="d-375 d-xl-none">
        
    </div>
    <div class="d-1440 d-none d-xl-block">

    </div>

{{{ yield }}}

<script src="{{ path '/js/main.js' }}"></script>
</body>
</html>