<section class="tcs-cards-features px-1 px-lg-4 mb-3">
    <div class="bg-lb-50 px-2 px-lg-0 py-lg-4">
        {{!-- <div class="embed-responsive embed-responsive-16by9"> --}}
           {{!-- <div class="tcs-embed-fill d-flex flex-column justify-content-center"> --}}
        <div class="row">
            <div class="col-12 col-lg-3">
            <div class=" position-relative py-3 py-lg-0">
                <img class="tcs-cards-features__logo position-absolute img-fluid" src="https://res.cloudinary.com/dg1knuetg/image/upload/v1598650527/TCSSeal-SmallScalePositive_di4zva.png" alt="" srcset="">
                <h2 class="fc-blue fs-40 position-relative">
                    TITLE  
                </h2>
            </div>
            </div>
            <div class="col-12 col-lg-9">
                <div class="tcs-cards-features__cards-container row">

                    {{#each cards}}
                    
                        <div class="tcs-cards-features__card py-1 col-12 col-lg-4 py-lg-0">
                            <img class="tcs-cards-features__ctaLogo img-fluid" src="https://res.cloudinary.com/dg1knuetg/image/upload/v1598650527/TCSSeal-SmallScalePositive_di4zva.png" alt="" srcset="">
                            <h4 class="fs-16 fc-blue">
                                {{subtitle1}}
                            </h4>

                            <p class="fs-14 ff-lr flh-1p5">
                                {{p1}}
                            </p>

                            <p class="fs-14 ff-lr flh-1p5">
                                {{p2}}
                            </p>

                            <div lass="fs-14 ff-lr flh-1p5">
                                <input class="tcs-cards-features__ctaButton fs-12" type="button" value="CTA TEXT" name="ctaButton" onclick="" />
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>

    </div>

</section>