.tcs-cards-features{
    .rectangle{
        width: 255px;
        height: 143px;
        background-color: $greyrect;
    }

    &__ctaButton{
        width: 223px;
        height: 36px;
        background-color: $white;
        border: none;
        color: $blue-2;
    }

}

@include media-breakpoint-up(md) {
    .tcs-cards-features{
        background-color: $light-blue-50;
        .rectangle{
            width: 223px;
            height: 125px;
        }
        &__ctaLogo{
            top: 38px;
            left: -15px;
        }

        &__ctaButton{
            width: 100%;
        }
    }
}

