<section class="tcs-the-guide" id="the-guide">
    <div class="tcs-the-guide__nav d-flex justify-content-center border-bottom">
       <div class="guide-title d-flex align-items-center fs-16 px-2">
           in this guide...
       </div>
        {{#each option}}
        <button class="option-container d-flex align-items-center align-self-center flex-column border-right border-left px-2 fs-12 ff-pm">
            <img class="guide-icon" src="{{icon}}" alt="">
            <span class="guide-option">{{title}}</span>
        </button>
        {{/each}}
    </div>
</section>