.tcs-the-guide{
    &__nav{
        overflow: auto;
        white-space: nowrap;
        height: 59px;
        .guide-title{
            display: inline-block;
        }
        .option-container{
            display: inline-block;
            border-style: none;
            background-color: $white;
            color: $black;
        }
        .guide-divider{
            display: inline-block;
            width: 0;
            height: 40px;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
        }
    }
    @include media-breakpoint-up(lg) {
        &__nav{
            height: 100px;
            .guide-title{
                color: $gray;
                font-family: $lora-italic;
            }
            .option-container{
                border-style: none;
                background-color: $white;
                color: $primary;
                
                .guide-divider{
                    display: inline-block;
                    width: 0;
                    height: 60px;
                    border-left: 1px solid #ccc;
                    border-right: 1px solid #ccc;
                }
                .guide-icon{
                    margin-bottom: 7px;
                    width: 25px;
                }
            }
        }
      }
}