<div class=" tcs-container-md  pt-0 tcs-pb-3 tcs-pb-lg-4">
    <div class="mb-0 tcs-px px-md-0">

        <h3 class="fc-blue-2">Types of Down</h3>
        <p class="fs-14 ff-lr">
            To the naked eye there is not much difference between regular down and goose down. Goose down is typically more expensive because it is rare, while down is more available and therefore more affordable while still providing optimum comfort. The biggest difference between down and goose down is fill power—goose down is typically available in higher fill powers than regular down.
        </p>
        <p class="fs-14 ff-lr">
            Another difference is the geographic origin—down that comes from colder regions of the world will be larger and fluffier, so European down is typically available in higher fill powers. Hungarian goose down is known as the best down fill in the market because of its exceptional thermal abilities. Ultra-soft and superfine, a Hungarian goose down fill has an exceptionally light feel, while still providing luxurious comfort and amazing insulation.
        </p>

        <div class="quote tcs-py tcs-py-lg-3">

            <p class="fs-12 ff-pm fc-blue text-center">
                Fun Fact
            </p>

            <h3 class="fs-38 fc-blue text-center">
                Hungarian geese have survived frigid weather conditions for centuries thanks to their superior insulating feathers.
            </h3>
            
        </div>

        <h3 class="fc-blue-2">Filling You in on Fill Power </h3>
       
        <p class="fs-14 ff-lr">
            Fill power refers to the amount of air an ounce of down can hold. The bigger the down clusters the higher the fill power, resulting in exceptional loft and insulating abilities. Our premium comforters range from 500 to 750 fill power in a variety of warmth levels (light to ultra-warmth) to provide the perfect amount of insulation you need to get a great night’s sleep. 
        </p>

    </div>
</div>