.tcs-simple-text{
    background-color: white;
    font-family: $lora-reg;
    font-size: 14px;
    font-weight: normal;

    h3{
        color: $blue-2;
    }
}

.tcs-callout{
    width: 40%;
    left: -15px;
    top: 25px;
    opacity: 0.15;
}

.image-div{
    display: flex;
    background: $light-blue-50;
    width: 630px;
    height: 354px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.baffle-image{
    padding-top: 100px;
}

@include media-breakpoint-up(lg) {
    .tcs-simple-text{
        font-size: 18px;
    }
}
