<div class="tcs-container-md  pt-0 pb-3 pb-lg-4">
    <div class="mb-0 px-1 px-md-0">

        <h3 class="fc-blue-2">Baffle Box vs Sewn-Through Box…What’s the difference? </h3>
        <p class="tcs-copy-medium">
            A well-made comforter is constructed to help ensure that warmth is evenly distributed. There are two main types of comforter construction in down comforters—baffle box and sewn-through box.  
            The one you select is a matter of personal preference.</br>
            In a baffle box construction, the stitching that creates the pockets for the down, is separated by internal fabric walls inside the comforter, creating a smooth look from the top.</br>
            In sewn-through box construction, the stitching that creates the pockets for the down, goes through the top and bottom layers of fabric, creating a puffy, pillow-like look from the top. 
        </p>

            <div class="tc-cards-features__card image-div container-fluid tcs-guide-jumbo__main px-2 px-lg-4">
                <div class="container baffle-image-text col-6">
                    <img class="baffle-image" src="https://res.cloudinary.com/dg1knuetg/image/upload/ar_16:9,c_fill,w_400/v1598975074/Screen_Shot_2020-09-01_at_11.44.29_AM_otffl2.png" alt="" srcset=""> 
                    <h4 class="fs-16 fc-blue justify-content-between">
                        Baffle Box Construction
                    </h4>
                </div>

                <div class="container baffle-image-text col-6">
                    <img class="baffle-image" src="https://res.cloudinary.com/dg1knuetg/image/upload/ar_16:9,c_fill,w_400/v1598975124/Screen_Shot_2020-09-01_at_11.44.45_AM_zvrpag.png" alt="" srcset=""> 
                    <h4 class="fs-16 fc-blue justify-content-between">
                        Sewn Through Construction
                    </h4>
                </div>
            </div>

            <div class="baffle-paragraph">
                <h3 class="fc-blue-2">How to Choose Your Comforter Shell Fabric  </h3>
                <p class="tcs-copy-medium">
                    As with all our products, our comforter shells are crafted with premium fabrics—specifically cotton percale, cotton sateen, cotton cambric, and organic cotton. Any bedding product filled with down must have a special down-proof fabric which is tightly woven to keep the fill inside of its shell.  
                </p>
            </div>

        <div class="tcs-guide-jumbo__main baffle-paragraph pt-2-baffle px-2 px-lg-4 col-12 ">
            <div class="col-6">
            <h3 class="baffle-down-text content fs-14">
                For more information about the fabric used for our comforters 
            </h3>
                <button class="tcs-carousel__button fs-12 ff-pm btn btn-primary btn-block">READ OUR SHEET GUIDE</button>
            </div>
            <div class="baffle-down-image container-fluid col-6-baffle">
                <img class="" src="https://res.cloudinary.com/dg1knuetg/image/upload/ar_1:1,c_fill,w_700/v1598975111/Screen_Shot_2020-09-01_at_11.45.06_AM_ofungw.png" alt="" srcset=""> 
            </div>


        </div>
    </div>
</div>