.tcs-simple-text{
    background-color: white;
    font-family: $lora-reg;
    font-size: 14px;
    font-weight: normal;

    h3{
        color: $blue-2;
    }
}

@include media-breakpoint-up(lg) {
    .tcs-simple-text{
        font-size: 18px;
    }
}


.fs-14{
    font-size: 14px;
}
.fs-12{
    font-size: 12px;
}
.fs-38{
    font-size: 38px;
}
.ff-lr{
    font-family: $lora-reg;
}
.ff-pm{
    font-family: $poppins-m
}

.fc-blue-2{
    color: $blue-2;
}
.fc-blue{
    color: $blue;
}