.tcs-simple-text{
    background-color: white;
    font-family: $lora-reg;
    font-size: 14px;
    font-weight: normal;

    h3{
        color: $blue-2;
    }
}

.tcs-callout{
    width: 53%;
    left: -15px;
    top: 25px;
    opacity: 0.15;
}

@include media-breakpoint-up(lg) {
    .tcs-simple-text{
        font-size: 18px;
    }
}
