<section class="tcs-jumbo position-relative">
    <picture class="embed-responsive tcs-embed-responsive-375by300  tcs-embed-responsive-md-1440by560">
        <source 
            srcset="https://res.cloudinary.com/dg1knuetg/image/upload/w_1600,ar_1440:560,c_fill,g_auto/v1598922293/dress.jpg" 
            media="(min-width: 768px)">
        <source 
            srcset="https://res.cloudinary.com/dg1knuetg/image/upload/w_1200,ar_375:300,c_fill,g_auto/v1598371190/Belk_x2uiwx.jpg" >
        
        {{!-- fallback is desktop becaus ethere is no ie11 mobile --}}
        <img class="tcs-embed-fill img-fit" src="https://res.cloudinary.com/dg1knuetg/image/upload/w_1200,ar_1440:560,c_fill,g_auto/v1598371190/Belk_x2uiwx.jpg" alt="">
    </picture>
    {{!-- px-4 is equal to 20px  --}}
    <div class="tcs-jumbo__text-container px-1 position-absolute fill-container d-flex flex-column justify-content-center  text-light">
        <div class="tcs-container-md" >
            <p class="tcs-jumbo__eyeline">comforter guide </p>
            <h2 class="tcs-jumbo__title">How to Choose the Perfect Comforter </h2>
        </div>
    </div>

    <div class="tcs-jumbo__arrow position-absolute fill-container d-flex justify-content-center align-items-end flex-wrap ">
        <a class="tcs-jumbo__btn btn btn-link fs-38" href="#our-guide">
        <svg class=" bi bi-chevron-compact-down text-light" fill="currentColor" width="1em" height="1em" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
             <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
        </svg>
        </a>
    </div>
</section>

