.tcs-jumbo{

    &__text-container{
        background-image: linear-gradient(to left, rgba(34, 34, 34, 0.05) 100%, rgba(0, 0, 0, 0.5) 2%);
    }
    
    &__eyeline{
        text-transform: uppercase;
        font-weight: 500;
        font-family: $poppins-r;
        letter-spacing: 1.3px;
        color: $white
    }

    &__title{
        width: 20ch; // this could be percentage too
        font-size: 27px;
        color: $white
    }
   
}


@include media-breakpoint-up(lg) {
    .tcs-jumbo{
        
        &__eyeline{
            font-size: 18px;
        }
    
        &__title{
            font-size: 60px;
        }
       
    }
 }

