
$light-blue:#f5f8fa;//#dae3ea;
$blue:#134981;
$blue-2:#0d3559;
$light-blue-50:#e8eef2; //rgba(218, 227, 234, 0.5);
$light-blue-30:#829ebc; //rgba(218, 227, 234, 0.5);
$white: white;


.bg-lb-50{
    background-color: $light-blue-50;
}

.fc-blue-2{
    color: $blue-2;
}
.fc-blue{
    color: $blue;
}
.fc-lb-30{
    color: $light-blue-30;
}