

.bg-lb-50{
    background-color: $light-blue-50;
}

.fc-blue-2{
    color: $blue-2;
}
.fc-blue{
    color: $blue;
}
.fc-lb-30{
    color: $light-blue-30;
}

.btn-primary {
    @include button-variant($blue, $blue, $hover-background:$light-blue , $hover-border:$light-blue);

    &:hover{
        color: $blue;
    }
}