
.tcs-px{
    padding-left: 20px;
    padding-right: 20px;
}

.tcs-px-2{
    padding-left: 40px;
    padding-right: 40px;
}

.tcs-pt{
    padding-top: 40px;
}
.tcs-pb{
    padding-bottom: 40px;
}
.tcs-pb-3{
    padding-bottom: 60px;
}
.tcs-pb-4{
    padding-bottom: 80px;
}
.tcs-mb{
    margin-bottom: 40px;
}
.tcs-py{
    @extend .tcs-pt;
    @extend .tcs-pb;
}

.tcs-h2{
    font-size: 27px;
}
.translate-ny-2{
    transform: translateY(40px);
}

@include media-breakpoint-up(md) {
    .tcs-py-md-4{
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .tcs-px-md{
        padding-left: 20px;
        padding-right: 20px;
    }
    .tcs-px-md-2{
        padding-left: 40px;
        padding-right: 40px;
    }
    .tcs-px-md-4{
        padding-left: 80px;
        padding-right: 80px;
    }
}
@include media-breakpoint-up(lg) {
    .tcs-py-lg-4{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .tcs-py-lg-3{
        padding-top:60px;
        padding-bottom:60px;
    }

    .tcs-px-lg{
        padding-left: 20px;
        padding-right: 20px;
    }
    .tcs-px-lg-2{
        padding-left: 40px;
        padding-right: 40px;
    }
    .tcs-px-lg-4{
        padding-left: 80px;
        padding-right: 80px;
    }
    .tcs-pl-lg-4{
        padding-left: 80px;
    }
    .tcs-pr-lg-4{
        padding-right: 80px;
    }

    .tcs-mb-lg-4{
        margin-bottom: 80px;
    }

    .mw-lg-100{
        max-width: 100%;
    }

    .tcs-pt-4{
        padding-top: 80px;
    }
}