.d-small{
    background-color: #ff00dd;
}

.d-375{
    width: 375px;
    background-color: rgb(255, 72, 0);
}
.d-768{
    background-color:rgb(255, 251, 0);
}
.d-992{
    background-color: rgb(0, 255, 13);
}
.d-1200{
    background-color: rgb(0, 255, 255);
}
.d-1440{
    width: 1440px;
    background-color: rgb(150, 127, 255);
}

.fill-container{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// .tcs-container-md{
//     padding-left: 20px;
//     padding-right: 20px;
// }

 @include media-breakpoint-up(md) {
    .tcs-container-md{
        width: 100%;
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-right: auto;
        margin-left: auto;
        max-width: 660px;
        // border-left: 1px red solid;
    }
 }
 @include media-breakpoint-up(lg) {
    .tcs-container-lg{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        max-width: 660px;
    }
 }


 .btn{
     @extend .btn;
     max-width: 100%;
 }