
$light-blue: #dae3ea ;//#f5f8fa;//#dae3ea;
$blue:#134981;
$primary:#134981;
$blue-2:#0d3559;
$light-blue-50:#e8eef2; //rgba(218, 227, 234, 0.5);
$light-blue-30:#829ebc; //rgba(218, 227, 234, 0.5);
$white: white;
$gray: #767676;
$fblack:#222222;
$trick:#dfe7ec;
$greyrect: #d8d8d8;
$bg-guideTrick: #f6f8fa;
$bg-sizeTrick: #ecf1f4;



$enable-rounded: false;
$spacer:20px;
$theme-colors: (
  "primary": $blue,
  "primary-light": $light-blue,
  "primary-dark": $blue-2,
);

$spacers:(
    0: 0,
    1: ($spacer * 1),
    2: ($spacer * 2),
    3: ($spacer * 3),
    4: ($spacer * 4),
    5: ($spacer * 5),
    8: ($spacer * 8)
  );
  

.bg-trick{
  background-color: $trick;
}