@import "~bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "./fonts";
@import "./utilities";
@import "./spacing";
@import "./colors";
@import "./aspectratios";
@import "components/jumbo/jumbo";
@import "components/simple-text/simple-text";
@import "components/guide/guide";
@import "components/guide-image/guide-image";
@import "components/fill-power/fill-power";
@import "components/certification/certification";

html, body {
    color: #222222;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
}




