

@import "./variables";
@import "~bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "swiper/swiper-bundle.css";
@import "./fonts";
@import "./utilities";
@import "./spacing";
@import "./colors";
@import "./aspectratios";
@import "components/jumbo/jumbo";
@import "components/simple-text/simple-text";
@import "components/guide/guide";
@import "components/guide-image/guide-image";
@import "components/fill-power/fill-power";
@import "components/cta-module/cta-module";
@import "components/certification/certification";
@import "components/carousel/carousel";
@import "components/fav-color/fav-color";
@import "components/size/size";

html, body {
    color: #222222;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
}

.tcs-certification__collapse-card {
    button.btn.btn-block.px-0 {
        min-width: 100% !important;
        color: $fblack !important;
        background-color: white !important;
        border: none !important;
        margin: 10px 0;
    }
}

.tcs-guide-jumbo__body.px-2.py-2.my-2.px-lg-4.py-lg-3 {
    padding-top: 35px !important;
    margin-bottom: 10px !important;
}

.tc-cards-features__card.d-flex.bg-trick.px-1.px-lg-4.mb-2.mb-lg-4 {
    margin-bottom: 40px !important;
}

.slot-container.slot-container--nopadding{
    max-width: 100%;
    >.row{
        display: block;
        flex-wrap: wrap;
        margin-right: 0;
        margin-left: 0;
       
    }
}

.c-header__container{
    height: auto;
}

.fixed-header{
    background-color: white;
}

// fix header on "mobile experience"
@media screen and (max-width: 65em){
    .tcs-jumbo{
        margin-top: 216px;
    }
    .c-header__logo.c-header__logo{
        height: 65px;
    }
}


