.sleep-wellness-hero-banner {
    flex: 0 0 100%;;
    display: inline-block;
    
    img {
        object-position: center center;
    }

    @include media-breakpoint-up(md){
        flex: 0 0 65.62%;
    }
}

.sleep-wellness-section-4 {
    display: flex;
    justify-content: center;
    flex: 0 0 100%;

    @include media-breakpoint-up(md) {
        flex: 0 0 34.38%;
    }

    &__body-text-section {
        padding: 10px;
        max-width: 357px;

        img {
            max-width: 230px;
        }
    }

    &__header-text {
        font-size: 27px;
        color: $primary;
        flex: 0 0 100%;

        @include media-breakpoint-up(md) {
            font-size: 50px;
        }
    }

    &__body-text {
        font-family: $lora-reg;
        flex: 0 0 100%;
    }

    &__arrow-section {
        flex: 0 0 100%;
    }
}